
@{
    ViewBag.Title = "Index";
}


<!-- /section:basics/sidebar -->
<div class="main-content">
    <div class="main-content-inner">
        <!-- #section:basics/content.breadcrumbs -->
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>
            <!-- /section:basics/content.breadcrumbs -->
            <ul class="breadcrumb">
                <li> <i class="ace-icon fa fa-home home-icon"></i>首页</li>
                <li>用户管理</li>
                <li>用户列表</li>
            </ul><!-- /.breadcrumb -->
        </div>
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <div class="row mt15">
                            <div class="col-xs-6">
                                <div class="dataTables_length" id="sample-table-2_length">
                                    <button class="btn btn-sm btn-primary">添加</button><button class="btn btn-sm btn-primary">修改</button>
                                </div>
                            </div>

                        </div>
                        <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </th>
                                    <th>用户头像</th>
                                    <th>用户ID</th>
                                    <th>用户名</th>
                                    <th>账号</th>
                                    <th>级别</th>
                                    <th>积分</th>
                                    <th>操作</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>
                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>
                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>
                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>
                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>
                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>
                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>
                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>张三</td>
                                    <td>DC-201507111502</td>
                                    <td class="hidden-480">哇哈哈纯净水【容量：596ml】</td>
                                    <td>80</td>

                                    <td class="hidden-480">
                                        ￥20000
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <label class="position-relative">
                                            <input type="checkbox" class="ace" />
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>李四</td>
                                    <td>DC-201507111507</td>
                                    <td class="hidden-480">康师傅纯净水【容量：596ml】</td>
                                    <td>50</td>

                                    <td class="hidden-480">
                                        ￥20050
                                    </td>

                                    <td>
                                        <div class="hidden-sm hidden-xs action-buttons">
                                            <a href="#">修改</a><a href="#">删除</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div>
</div><!-- /.main-content -->