@{
    ViewBag.Title = "Index";
}
@using Webdiyer.WebControls.Mvc
@model PagedList<Club.Models.ListPostModel>
<div class="col-md-7 pa-0">
    <div class="ux-w-100 uz-h-4 bg-c-white2"></div>
    <div class="ux-w-100 bg-c-white pa-l-15 pa-t-15">
        <div class="inline-flex f-wrap"> <a href="#" class="ma_lt bg-c-blue f-c-white">最新回复</a> <a href="#" class="ma_lt">最新发表</a> <a href="#" class="ma_lt">只看精华</a> </div>
        <div class="ul_s">
            @using (Html.BeginForm("Index", "Post", FormMethod.Get))
            {
                <div id="articles">
                    @Html.Partial("_Post", Model)
                </div>
            }            
        </div>        
    </div>
</div>
<div class="col-md-4 col-md-offset-1 col-sm-offset-0 bg-c-white pa-l-45 pa-r-45">
    <div class="ux-w-100 inline-flex f-wrap f-just-b ma-t-35">
        <div class="ux-w-40"><a href="/Post/New" class="ma_rt ma_rt bg-c-green f-c-white">发帖</a></div>
        <div class="ux-w-40"><a href="#" class="ma_rt ma_rt bg-c-green f-c-white">投稿</a></div>
    </div>
    <div class="ux-w-100 ma-t-20">
        <a class="ma_rt ma_rm ma_rm_on" name="0">全部</a>
        @{
            var type = ViewBag.type;
            foreach (var item in type)
            {
                <a class="ma_rt ma_rm" name="@item.id">@item.Name</a>
            }
        }
    </div>
    <div class="ux-w-100 pa-t-230">
        <div class="f-s-12 f-c-ccc"># 本站统计</div>
        <div class="ux-w-100 f-s-12 inline-flex f-just-s ma-t-15">
            <div class="text-center uz-w-77">
                <img src="/Content/userimages/会员.png" height="26" width="30" />
                <div class="ma-t-9">805</div>
                <div class="ma-t-2">会员</div>
            </div>
            <div class="text-center uz-w-77">
                <img src="/Content/userimages/帖子.png" height="26" width="30" />
                <div class="ma-t-9">805</div>
                <div class="ma-t-2">会员</div>
            </div>
            <div class="text-center uz-w-77">
                <img src="/Content/userimages/精华.png" height="29" width="30" />
                <div class="ma-t-6">805</div>
                <div class="ma-t-2">会员</div>
            </div>
        </div>
    </div>
    <div class="ux-w-100 pa-t-35">
        <div class="f-s-12 f-c-ccc"># 本站薅羊毛榜</div>
        <div class="ma_rmb ma_rmb_on ma-t-15">薅羊毛财富榜</div>
        <div class="ma_rmb ma-t-15">薅羊毛劳模</div>
    </div>
    <ul class="ux-w-100 ma-t-65">
        <li class="f-s-12 f-c-ccc"># 本站邻居</li>
        <li class="ma_bl"><a href="#">化龙巷</a></li>
        <li class="ma_bl"><a href="#">淘常州</a></li>
        <li class="ma_bl"><a href="#">中吴网</a></li>
        <li class="ma_bl"><a href="#">常州网</a></li>
        <li class="ma_bl ma-b-30"><a href="#">阿里云</a></li>
    </ul>
</div>
<script src="/Conten/js/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">$(function () {@{ Ajax.LoadMvcPagerScript(); }});</script>
