
@{
    ViewBag.Title = "Search";
}
<div class="bg-c-white pa-b-100">
    <div class="ux-w-96 max-l-2 pa-t-35 f-s-10 pa-l-30 pa-b-35 bod-t-1 bod-b-1 ma-t-20"> <img src="images/search.gif" /> <span class="f-c-reds">!搜索的内容</span> </div>
    <div class="ux-w-92 max-l-5">
        <ul class="pa-l-5">
            <li class="ux-w-100 bod-b-1 inline-flex f-wrap f-just-b ma-t-20 ma_list ma_list">
                <div>
                    <a class="left ma-r-15" href="#"><img class="uz-w-40 uz-h-40 bd-r-4" src="images/0.jpg"></a>
                    <div class="ma-l-15 uz-w-200">
                        <h5 class="ma-0 ma-t-2">辟谷养生0</h5>
                        <p class="ma-t-6 f-s-10">海华 5月18日 01:00</p>
                    </div>
                </div>
                <div>
                    <div class="f-c-gray uz-w-40 left">
                        <i class="iconfont icon-iconview"></i>
                        <div>118</div>
                    </div>
                    <div class="f-c-gray uz-w-40 left">
                        <i class="iconfont icon-iconview"></i>
                        <div>5</div>
                    </div>
                </div>
            </li>
            <li class="ux-w-100 bod-b-1 inline-flex f-wrap f-just-b ma-t-20 ma_list ma_list">
                <div>
                    <a class="left ma-r-15" href="#"><img class="uz-w-40 uz-h-40 bd-r-4" src="images/0.jpg"></a>
                    <div class="ma-l-15 uz-w-200">
                        <h5 class="ma-0 ma-t-2">辟谷养生0</h5>
                        <p class="ma-t-6 f-s-10">海华 5月18日 01:00</p>
                    </div>
                </div>
                <div>
                    <div class="f-c-gray uz-w-40 left">
                        <i class="iconfont icon-iconview"></i>
                        <div>118</div>
                    </div>
                    <div class="f-c-gray uz-w-40 left">
                        <i class="iconfont icon-iconview"></i>
                        <div>5</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

